<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aladdin_app">

    <!-- Flutter v2 embedding کے لیے کوئی پرانا meta-data نہیں چاہیے -->
    <application
        android:label="علادین ایپ"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Flutter v2 کے لیے یہ کافی ہے -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- پرانا FlutterActivity یا meta-data ہٹا دو اگر موجود ہو -->
    </application>
</manifest>
